:root, [data-theme='dark']{
    /* Colours */
    --body-background: rgb(27, 27, 27);
    --text-color: white;
    --border: rgba(54, 54, 54, 1);
    --no-input-keyboard: black;
    --dark-mode-button: url('/assets/icons/sun.png');
    --dark-mode-button-image-size: 45px 50px;
    --dark-mode-button-hover-color: rgb(72, 72, 73);
    --dark-mode-button-background-color: transparent;
    --error-border-color: transparent;

}

[data-theme="light"]{
    --body-background: white;
    --border: rgba(54, 54, 54, 1);
    --text-color: black;
    --no-input-keyboard: black;
    --dark-mode-button: url('/assets/icons/moon.png');
    --dark-mode-button-image-size: 35px 35px;
    --dark-mode-button-hover-color: rgb(207, 207, 218);
    --dark-mode-button-background-color: transparent;
    --error-border-color: black;

}



body{
    background-color: var(--body-background);
    
}


.title{
    padding-top: 30px;
    color: var(--text-color);
    display: flex;
    margin: auto;
    margin-bottom: 2vw;
    justify-content: center;
    font-size: 5vw;
}

.screen_error{
    display: none;
    color: var(--text_color);
}

.content{
    width: 90%;
    margin: auto;
   
}

.colour_change_button{
    position: absolute;
    right: 10px;
    background-image: white;
    background-image: var(--dark-mode-button);
    background-size: var(--dark-mode-button-image-size);
    background-repeat: no-repeat;
    background-position: 50%;
    border:none;
    background-color: var(--dark-mode-button-background-color);
    width: 60px;
    height: 50px;
}

.colour_change_button:hover{
    cursor:pointer;
    background-color: var(--dark-mode-button-hover-color);
}

.error_message_div {
    opacity: 0;
    background-color: white;
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    overflow: hidden;
    border: 2px var(--error-border-color) solid;
}

.replay_container{
    margin: 10vw;
}

.message {
    color: var(--text-color);
    font-size: 8vw;
    text-align: center;
    margin-bottom: 0vw;
}

#replay_button {
    display: none;
    text-align: center;
    margin: 1vw auto;
    width: 50vw;
    height: 15vw;
    font-size: 4vw;
    border-radius: 1em;
    background: rgb(106, 246, 127);
    border-style: none;
    opacity: 1;
}


.row{
    display: flex;
    justify-content: center;
}

input{
    width: 13vw;
    height: 14vw;
    font-size: 4vw;
    text-align: center;
    margin: 0.5%;
    background-color: transparent;
    border-style: solid;
    border-color: var(--border);
    border-radius: 0.2em;
    background-color: transparent;
    animation-name: none;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    color: var(--text-color);
}

.keyboard{
    width: 100%;
    margin-top: -4vw;
}

.keyboard_row{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.keyboard_row button{
    margin: 1% 0.5%;
    width: 12vw;
    height: 15vw;
    font-size: 3vw;
    border-radius: 0.5em;
    border-style: none;
    background-color: rgb(162, 162, 162);
    color: var(--text_color);
    font-weight: 600px;
}

#keyboard_row2{
    margin: auto 1em;
}

#submit_button{
    width: 14vw;
    font-size: 1.75vw;
}

#delete_button{
    width: 14vw;
    background-image: url("backspace.png");
    background-repeat: no-repeat;
    background-size: 4vw, 4vw;
    background-position: center;
}

@keyframes shake {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes flip {
    0% {
        transform: scaleY(100%);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(100%);
    }
}


@keyframes pulse {
    0% {
        transform: scale(100%, 100%);
    }

    50% {
        transform: scale(125%, 125%);
    }

    100% {
        transform: scale(100%, 100%);
    }
}


@keyframes wave {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }


}


@media (width >= 700px) {

    .title{
        font-size: 32px;
    }

    .content{
        position: relative;
        width: 80%;
        margin: auto;
    }

    input{
        width: 50px;
        height: 50px;
        margin: 0.1vw 0.15vw;
        font-size: 1.5vw;
    }

    .keyboard{
        margin: auto;
        
        width: 60%;
    }

    .keyboard_row button{
        margin: 3px 2px;
        width: 50px;
        height: 60px;
        font-size: 1em;
        border-radius: 0.3em;
        font-weight: 600px;
        cursor: pointer;
    }

    #keyboard_row2{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #submit_button{
        width: 70px;
        font-size: 0.75em;
    }
    
    #delete_button{
        width: 70px;
        background-image: url("backspace.png");
        background-repeat: no-repeat;
        background-size: 2vw, 2vw;
        background-position: center;
    }

    .error_message_div {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        z-index: 99;
        border-radius: 1em;
        overflow: hidden;
    }

    .replay_container{
        margin: 1vw;
    }

    .message {
        color:var(--text_color);
        font-size: 3vw;
        display: block;
        text-align: center;
       
    }

    #replay_button {
        display: none;
        text-align: center;
        width: 120px;
        height: 60px;
        font-size: 1em;
        border-radius: 1em;
        background: rgb(106, 246, 127);
        border-style: none;
        opacity: 1;
        cursor: pointer;
    }

    #replay_button:hover{
        background: rgb(147, 231, 160);
    }

}


/* @media (orientation:landscape ) {
    .screen_error{
        display: block;
        color: white;
        justify-self: center;
        align-self: center;
    }

    .content{
        display: none;
    }
} */