body {
    background-color: rgb(27, 27, 27);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.content {
    position: relative;
    max-width: 100%;
    margin: auto;
    padding: auto;
}

.error_message_div {
    opacity: 0;
    position: absolute;
    background-color: white;
    width: 10%;
    margin-left: 45%;
    height: 10%;
    z-index: 99;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    overflow: hidden;
}

.error_message_div p {
    color: black;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    padding: auto;
}

.row {
    position: relative;
    animation: none;
    animation-iteration-count: 2;
    display: flex;
    align-items: center;
    justify-content: center;

}



input[type="text"] {
    /*
    background-color: rgb(73, 73, 73);
    border-color: rgb(73, 73, 73);
    */
    border-color: rgb(54, 54, 54);
    background-color: rgb(27, 27, 27);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 5%;
    border-style: solid;
    display: flex;
    margin-right: 3px;
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
    animation-name: none;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

input[type="text"]:enabled {
    border-color: rgb(73, 73, 73);
}

input[type="text"]:focus {
    outline: none;
    caret-color: transparent
}


.message {
    color: white;
    font-size: 40px;
    display: block;
    text-align: center;
}

#replay_button{
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 1em;
    width: 16em;
    height: 3em;
    background: rgb(125, 175, 125);
    border-style: none;
    opacity: 1;
}

#replay_button:hover{
    background: rgb(213, 241, 213);
}

.keyboard {
    width: 100%;
}

.keyboard_row {
    margin-top: 0.5%;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#keyboard_row1 button {
    width: 43px;
}


.keyboard_row button {
    cursor: pointer;
    width: 43.6px;
    height: 58px;
    margin: auto;
    text-align: center;
    border-radius: 10%;
    background-color: rgb(156, 156, 156);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    touch-action: manipulation;
}

#submit_button {
    font-size: 15px;
    width: 65.4px;
}

#delete_button {
    background-image: url("backspace.png");
    background-repeat: no-repeat;
    background-size: 40px, 50px;
    background-position: center;
    width: 65.4px;
}


@keyframes shake {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes flip {
    0% {
        transform: scaleY(100%);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(100%);
    }
}


@keyframes pulse {
    0% {
        transform: scale(100%, 100%);
    }

    50% {
        transform: scale(125%, 125%);
    }

    100% {
        transform: scale(100%, 100%);
    }
}


@keyframes wave {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }


}

@media only screen and (max-width: 500px) {
    .container {
        max-width: 80%;
        margin: auto;
    }

    .row {
        margin-top: 2%;
        display: flex;
        max-width: 100%;
        justify-content: center;
    }



    .row input[type="text"] {
        width: 100%;
        margin-top: 0;
        font-size: 1.6em;
        text-align: center;
        display: block;
    }

    .error_message_div {
        opacity: 0;
        position: absolute;
        background-color: white;
        width: 50%;
        margin-left: 25%;
        height: 10%;
        z-index: 99;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        overflow: hidden;
    }

    #replay_button{
        min-width: 10em;
        max-width: 20em;
        height: 3em;
        margin-bottom: 3em;
    }

    .keyboard {
        margin-top: -20px;
    }


    #keyboard_row1 {
        display: grid;
        justify-content: center;
        column-gap: 1%;
        grid-template-columns: repeat(10, minmax(5%, 8.5%));
    }

    #keyboard_row2 {
        margin-top: 1%;
        display: grid;
        column-gap: 1%;
        grid-template-columns: repeat(9, minmax(6%, 8.5%));
        grid-template-rows: 100%;
        justify-content: center;
    }


    #keyboard_row3 {
        display: grid;
        column-gap: 1%;
        grid-template-columns: repeat(9, minmax(5%, 9.5%));
        justify-content: center;
    }


    .keyboard_row button {
        margin-top: 1%;
        cursor: pointer;
        max-width: 100%;
        font-size: 100%;
        text-align: center;
        display: block;
    }



    #keyboard_row3 #submit_button {
        font-size: 2vw;
        max-width: 100%;
        text-align: center;
    }

    #keyboard_row3 #delete_button {
        background-image: url("backspace.png");
        background-repeat: no-repeat;
        background-size: 5vw, 5vh;
        background-position: center;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1200px) {


    .content {
        width: 100%;
        margin: auto;
    }

    .content input[type="text"] {
        display: flex;
    }


    .keyboard_row {
        margin-top: 1%;
        max-width: 100%;
        display: block;
        margin-left: 1px;
        margin-right: 1px;
    }


    .keyboard_row button {
        cursor: pointer;
        width: 43.6px;
        height: 58px;
        text-align: center;
        display: block;
    }
    #replay_button{
        min-width: 10em;
        max-width: 20em;
        height: 3em;
        margin-bottom: 3em;
    }

    #submit_button {
        width: 65.4px;
    }

    #delete_button {
        background-image: url("backspace.png");
        background-repeat: no-repeat;
        background-size: 40px, 50px;
        background-position: center;
        width: 65.4px;
    }


}