body {
    background-color: rgb(49, 49, 49);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.content {
    background-color: rgb(49, 49, 49);
    width: 50%;
    margin-left: 25%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

input[type="text"]{
    background-color: rgb(73, 73, 73);
    border-color: rgb(73, 73, 73);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 5%;
    border-style: solid;
    display: flex;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 30px;
    text-align: center;
}
/*
#submit_button{
    border-radius: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 47%;
    background-color:rgb(173, 173, 173);
    border-style: solid;
    border-color: rgb(173, 173, 173);
}
*/
.message{
    color: white;
    font-size: 40px;
    display: block;
    text-align: center;
}

.keyboard{
    background-color: red;
    width: 100%;   
    display: inline;
    
   
}

.keyboard_row{
   margin-top: 1%;
  
}

#keyboard_row2{
    text-align: center;
}

#keyboard_row1, #keyboard_row3{
   text-align: center;
}


.keyboard_row button {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 50px;
    text-align: center;
    border-radius: 10%;
    background-color: rgb(156, 156, 156);
    border:none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#submit_button{
    font-size: 15px;
    width: 60px;
}

#delete_button{
    background-image: url("backspace.png");
    background-repeat: no-repeat;
    background-size: 40px, 50px;
    background-position: center;
    width: 70px;
   
}

#delete_button:hover{
    background-color: rgb(221, 221, 221);
}

#delete_button:active{
    background-color: rgb(109, 109, 109);
}